# Python
__pycache__/
*.py[cod]

# Virtual env
.venv/
venv/
env/

# Flask
instance/

# Databases
*.db
*.sqlite
*.sqlite3

# OS / IDE
.DS_Store
.vscode/
.idea/

static/uploads/*
!static/uploads/.gitkeep